{% extends "layout.html" %}
{% block content %}
<a href="{{url_for('coaches')}}" title="Coaches">Go Back</a>



<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
		   <TR>
		      <TH COLSPAN="2"><BR><H3>COACH LIST</H3>
		      </TH>
		   </TR>
		   <TR>
		      <TH>ID</TH>
		      <TH>Name</TH>
		      <TH>Nation</TH>
		      <TH>Team</TH>

		   </TR>
		   </TR>
		   {% for coach in coachList %}
			<tr>
				<td>{{ coach.0 }}</td>
				<td>{{ coach.1 }}</td>
				<td>{{ coach.2 }}</td>
				<td>{{ coach.3 }}</td>


				<td>
					<form action="/deleteCoach" method=post>
						<input type=text name=id value={{coach.0}} hidden="true">
						<input type=submit value=Delete>
					</form>
				</td>

				<td>
					<form action="/updateCoach" method=post>
						<input type=text name=id value={{coach.0}} hidden="true">
						<input type=submit value=Update>
					</form>
				</td>

			</tr>
		{% endfor %}
	</TABLE>


{% endblock %}