{% extends "eminLayout.html" %}

{%block title%}Countries{%endblock%}

{%block navigator %}
                <nav class="codrops-demos">
                	<a href="{{url_for('home')}}" title="Main Page">Main Page</a>
					<a class="current-demo" href="{{ url_for('countries') }}" title="Country">Country</a>
					<a href="{{ url_for('leagues') }}" title="League">League</a>
					<a href="#" title="Message">Message</a>
				</nav>
                <nav class="codrops-demos">
					<a href="{{ url_for('add_country') }}" title="Add Country">Add Country</a>
				</nav>

{%endblock%}

{%block content%}
					<form class="form-wrapper cf" action="/search_country" method="post">
					    <input type=text name=search placeholder="Search Country" style="text-align: center;" autofocus>
					    <button type=submit>Search</button>
					</form>
			<div class="component">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Population</th>
							<th>Coordinates</th>
						</tr>
					</thead>
					<tbody>
							 {% for country in countryList %}
								<tr>
									<td class="user-name">{{ country.1 }}
										<p>
										<a href="{{url_for('edit_country',id=country.0) }}" title="Edit Country">
											<img src="{{url_for('static',filename='emin/gfx/Pencil-icon.png')}}" width="40" height="40" alt="update">
										</a>
										<a href="{{url_for('delete_country',id=country.0) }}" title="Delete Country">
											<img src="{{url_for('static',filename='emin/gfx/delete.png')}}" width="40" height="40" alt="delete">
										</a>
										</p>
									</td>
									<td class="user-email">{{ country.2 }}</td>
									<td class="user-phone">{{ country.3 }}</td>
								</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
{%endblock%}

