{% extends "eminLayout.html" %}

{%block title%}Edit League{%endblock%}

{%block content%}

	<div class="wrapper">
		<form id="form" class="blocks" method="post" action="/update_league">
			<p>
				<label>Name:</label>
				<input type="text" class="text" name="name"  value="{{name}}" />
			</p>
			<p>
				<label>Nation:</label>
				<select class="text" name="nation">
					{% for country in countryList %}
						{% if country.0 == nation %}
							<option value="{{country.0}}" selected>{{ country.1 }}</option>
						{% else %}
							<option value="{{country.0}}" >{{ country.1 }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</p>
			<p>
				<label>Classification:</label>
				<input type="text" class="text" name="classification" value={{classification}} />
			</p>
			<p>
				<label>&nbsp;</label>
				<input type="submit" class="btn" value="Submit" />
			</p>
				<input type="hidden" name="id" value={{id}} />
		</form>
	</div>
{%endblock%}
