<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Hello, Flask!</h1>
    <h1>Hello, I am Emre!</h1>
    <h1>Hello, I am Nurullah...</h1>
    <h1>Hello, I am an Alien!!</h1>
    <h1>Git commit for emin</h1>
    <h1>Sry for latency, caghan</h1>
    <h1>Test edit for new test system </h1>

    <h1>Test commit</h1>
    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
