<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Players</title>
	<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
	{% extends "layout.html" %}{% block content %}
	<p>
		<b>Player Add</b>
	</p>

	<form action="/addPlayer" method=post>
		<dl>
			<dt>Id:
			<dd>
				<input type=text name=id>
			<dt>Name:
			<dd>
				<input type=text name=name>
			<dt>Age:
			<dd>
				<input type=text name=age>
			<dt>Nation:
			<dd>
				<input type=text name=nation>
			<dt>Team:
			<dd>
				<input type=text name=team>
			<dt>Field:
			<dd>
				<input type=text name=field>
			<dd>
			
				<br /> <input type=submit value=Add>
		</dl>
	</form>
	<p>
		<b>Player List</b>
		{{ playerList }}
	</p>
	{% endblock %}
</body>
</html>
