{% extends "layout.html" %}
{% block content %}
<a href="{{url_for('referees')}}" title="referees">Go Back</a>



<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
		   <TR>
		      <TH COLSPAN="2"><BR><H3>referee LIST</H3>
		      </TH>
		   </TR>
		   <TR>
		      <TH>ID</TH>
		      <TH>Name</TH>
		      <TH>Surname</TH>
		      <TH>League</TH>
		      <TH>City</TH>


		   </TR>
		   {% for referee in refereeList %}
			<tr>
				<td>{{ referee.0 }}</td>
				<td>{{ referee.1 }}</td>
				<td>{{ referee.2 }}</td>
				<td>{{ referee.3 }}</td>
				<td>{{ referee.4 }}</td>

				<td>
					<form action="/deleteReferee" method=post>
						<input type=text name=id value={{referee.0}} hidden="true">
						<input type=submit value=Delete>
					</form>
				</td>

				<td>
					<form action="/updateReferee" method=post>
						<input type=text name=id value={{referee.0}} hidden="true">
						<input type=submit value=Update>
					</form>
				</td>

			</tr>
		{% endfor %}
	</TABLE>


{% endblock %}