{% extends "eminLayout.html" %}

{%block title%}Search Messages{%endblock%}

{%block content%}
					<form class="form-wrapper cf" action="/search_message" method="post">
					    <input type=text name=search placeholder="Search Message Title" style="text-align: center;" autofocus>
					    <button type=submit>Search</button>
					</form>

			<div class="component">
					<p>Meanings of "<em><b>{{ request.form.search}}</b></em>" in Messages : {{count}} result(s)</p>
				<table>
					<thead>
						<tr>
							<th>Title</th>
							<th>E-mail</th>
							<th>Phone number</th>
                            <th>Message</th>
						</tr>
					</thead>
					<tbody>
							{% for message in messageList %}
								<tr>
									<td class="user-name">{{ message.1 }}
										<p>
										<a href="{{url_for('edit_message',id=message.0) }}" title="Edit Message">
											<img src="{{url_for('static',filename='emin/gfx/Pencil-icon.png')}}" width="40" height="40" alt="update">
										</a>
										<a href="{{url_for('delete_message',id=message.0) }}" title="Delete Message">
											<img src="{{url_for('static',filename='emin/gfx/delete.png')}}" width="40" height="40" alt="delete">
										</a>
										</p>
									</td>
									<td class="user-email">{{ message.3 }}</td>
									<td class="user-phone">{{ message.2 }}</td>
									<td class="user-mobile"><p>{{ message.4 }}</p></td>
								</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
{%endblock%}

