<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Statistics</title>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
	{% extends "layout.html" %}
	{% block content %}
<form action="{{ url_for('stat_search') }}" method="post">
			<input type=text name=searchbyname >
					    <input type=submit value="Search by name" >
</form>
<ul></ul>
<form action="{{ url_for('statistics') }}" method="post">
	<table border=2>
		<tr>
			<th style="width:80px">League</th>
			<th style="width:80px">Statistics according to</th>
		</tr>
		<td><select name="league">
		  <option value="Super">Super League</option>
		  <option value="Second">2nd League</option>
		  <option value="Amateur">Amateur league</option>
		</select></td>
		<td><select name="stattype" >
		  <option value="goal">Goal</option>
		  <option value="assist">Assist</option>
		  <option value="save">Save</option>
		</select></td>
		<td><input value="show" type="submit" /></td>
	</table>
</form>

<form action="{{ url_for('statistics') }}" method="post">
	<table border=2>
		<tr>
			<th style="width:80px">Delete</th>
			<th style="width:80px">Update</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Team</th>
			<th>League</th>
			<th>Goal</th>
			<th>Assist</th>
			<th>Save</th>
		</tr>
			{% for stats in list %}
		<tr>
			<td><input type="radio" name="deletestatbyname" value="{{ stats.0 }}" /></td>
			<td><input type="radio" name="updatestat" value="{{ stats.0 }}"/></td>
			<td>{{ stats.0 }}</td>
			<td>{{ stats.1 }}</td>
			<td>{{ stats.2 }}</td>
			<td>{{ stats.3 }}</td>
			<td>{{ stats.4 }}</td>
			<td>{{ stats.5 }}</td>
			<td>{{ stats.6 }}</td>
		</tr>
			{% endfor %}
	</table>
		<input type="submit" value="Delete" style="width:85px" />
		<input type="submit" value="Update" style="width:80px"/>
</form>
<ul>
	<ul><a href="{{ url_for('stat_add') }}">Add New Stat</a></ul>
</ul>

	{% endblock %}
	</body>
</html>
