<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% block title %}<title>Stat Update</title>{% endblock %}
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
	{% extends "layout.html" %}
	{% block content %}
		<h2>Update Statistics</h2>
		<form action="{{ url_for('stat_update') }}" method="post">
			<table>
				<tr>
						<th>Player name:</th>
				<td>
					{{element.0}}
				</td>
				</tr>
				<tr>
						<th>Player surname:</th>
				<td>
					{{element.1}}
				</td>
				</tr>
				<tr>
					<th>Player's Team:</th>
				<td>
					{{element.2}}
				</td>
				</tr>
					<th>Goals</th>
				<td>
					<input type="text" name="goal" value={{element.3}} />
				</td>
				</tr>
				<tr>
					<th>Assists</th>
				<td>
					<input type="text" name="assist" value={{element.4}} />
				</td>
				</tr>
				<tr>
					<th>Saves</th>
				<td>
					<input type="text" name="save" value={{element.5}} />
				</td>
				</tr>
				<tr>
				<td>
					<input type="hidden" name="updatebyid" value={{element.6}} />
				</td>
				</tr>
			</table>
			<input value="Update" type="submit" />
		</form>
	{% endblock %}
	</body>
</html>
