<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{% block title %}<title>Team Update</title>{% endblock %}

	</head>
	<body>
	{% extends "layout.html" %}
	{% block content %}
		<h2>Update Team</h2>
		<form action="/edit_Team" class="blocks" method=post>
			<p>
				<input type=hidden  name="id" value={{updatedlist.0}}>
			</p>

			<p>
				<label>Name:</label>
				<input type="text" class="text" name="name" value={{updatedlist.1}} autofocus/>
			</p>
			<p>
				<label>Foundation Year:</label>
				<input type="text" class="text" name="foundation_year" value={{updatedlist.2}} autofocus/>
			</p>
			<p>
				<label>Colours:</label>
				<input type="text" class="text" name="colours" value={{updatedlist.3}} autofocus/>
			</p>
			<p>
				<label>League:</label>
				<select class="text" name="league">
					{% for league in leagueList %}
						<option value="{{league.0}}">{{ league.1 }}</option>
					{% endfor %}
				</select>
			</p>
			<p>
				<label>Country:</label>
				<select class="text" name="country">
					{% for country in countryList %}
						<option value="{{country.0}}">{{ country.1 }}</option>
					{% endfor %}
				</select>
			</p>

			<p>
				<label>&nbsp;</label>
				<input type="submit" class="btn" value="Update" />
			</p>

	</form>



	{% endblock %}
	</body>
</html>
