<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Teams</title>
	<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
	{% extends "layout.html" %}{% block content %}

	<p>
		<b>Search Team</b>
	</p>


	<form method="post" action="/searchTeam" >

			<tr>
				<td style="border-style:solid none solid solid;border-color:#4B7B9F;border-width:1px;">
				<input type="text" class='text'  name="search_team" style="width:100px; border:0px solid; height:20px; border-width:1px; padding:0px 3px;">
				</td>
				<td style="border-style:solid;border-color:#4B7B9F;border-width:1px;">
				<input type="submit" value="" style="border-style: none; background: url('static/images/search.gif') no-repeat; width: 24px; height: 20px;">
				</td>
			</tr>

	</form>

	<p>
		<b>Add Team</b>
	</p>


		<form id="form" class="blocks" method="post" action="/addTeam">
			<p>
				<label>Name:</label>
				<input type="text" class="text" name="name" />
			</p>
			<p>
				<label>Foundation Year:</label>
				<input type="text" class="text" name="foundation_year" />
			</p>
			<p>
				<label>Colours:</label>
				<input type="text" class="text" name="colours" />
			</p>
			<p>
				<label>League:</label>
				<select class="text" name="league">
					{% for league in leagueList %}
						<option value="{{league.0}}">{{ league.1 }}</option>
					{% endfor %}
				</select>

			</p>

			<p>
				<label>&nbsp;</label>
				<input type="submit" class="btn" value="Add" />
			</p>
		</form>

	<TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
		   <TR>
		      <TH COLSPAN="2"><BR><H3>TEAM LIST</H3>
		      </TH>
		   </TR>
		   <TR>

		      <TH>Name</TH>
		      <TH>Foundation Year</TH>
		      <TH>Colours</TH>
		      <TH>League</TH>
		      <TH>Country</TH>

		   </TR>
		   {% for team in teamList %}
			<tr>

				<td>{{ team.1 }}</td>
				<td>{{ team.2 }}</td>
				<td>{{ team.3 }}</td>
				<td>{{ team.4 }}</td>
				<td>{{ team.5 }}</td>

				<td>
					<form action="/deleteTeam" method=post>
						<input type=text name=id value={{team.0}} hidden="true">
						<input type=submit value=Delete>
					</form>
				</td>

				<td>
					<form action="/update_Team" method=post>
						<input type=text name=id value={{team.0}} hidden="true">
						<input type=submit value=Update>
					</form>
				</td>

			</tr>
		{% endfor %}
	</TABLE>



	</p>
	{% endblock %}

</body>
</html>
