<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>User Management</title>
<link rel="stylesheet"
	href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	{% extends "layout.html" %}{% block content %} {% if user4Update is not
	none %}
	<p>
		<b>User Update</b>
	</p>
	<form action="/userUpdate" method=post>
		<dl>
			<dt>Name:</dt>
			<dd>
				<input type=text name=name value={{user4Update.0}}>
			</dd>
			<dt>Age:</dt>
			<dd>
				<input type=text name=age value={{user4Update.1}}>
			</dd>
			<dt>E-mail:</dt>
			<dd>
				<input type=text name=email value={{user4Update.2}}>
			</dd>
			<dt>Auth:</dt>
			<dd>
				<input type=text name=auth value={{user4Update.3}}>
			</dd>

			<dd>
				<br /> <input type=submit value=Update>
			</dd>
		</dl>
	</form>
	{% else %}
	<p>
		<b>User Add</b>
	</p>
	<form action="/addUser" method=post>
		<dl>
			<dt>Name:
			<dd>
				<input type=text name=name>
			<dt>Age:
			<dd>
				<input type=text name=age>
			<dd>
			<dt>E-mail:
			<dd>
				<input type=text name=email>
			<dd>
			<dt>Auth:
			<dd>
				<input type=text name=auth>
			<dd>
				<br /> <input type=submit value=Add>
		</dl>
	</form>
	{% endif %}
	<p>
		<b>User List</b>
	</p>
	<p>
	<table border=1>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>E-Mail</th>
			<th>Auth</th>
			<th>Country</th>
			<th>Update</th>
			<th>Delete</th>
		</tr>
		{% for user in userList %}
		<tr>
			<td>{{ user.0 }}</td>
			<td>{{ user.1 }}</td>
			<td>{{ user.2 }}</td>
			<td>{{ user.3 }}</td>
			<td>{{ user.4 }}</td>
			<td>
				<form action="/updateUser" method=post>
					<input type=text name=email value={{user.2}} hidden="true">
					<input type=submit value=Update>
				</form>
			</td>
			<td>
				<form action="/deleteUser" method=post>
					<input type=text name=email value={{user.2}} hidden="true">
					<input type=submit value=Delete>
				</form>
			</td>
		</tr>
		{% endfor %}
	</table>
	</p>
	{% endblock %}

</body>
</html>
